################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HydrothermalVents/obj
/HydrothermalVents/.vs/HydrothermalVents/FileContentIndex
/.vs
/HydrothermalVents/.vs/HydrothermalVents/v17
