################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HydrothermalVents/obj
/HydrothermalVents/.vs/HydrothermalVents/FileContentIndex
/.vs
/HydrothermalVents/.vs/HydrothermalVents/v17
/HydrothermalVentsTests/obj
/HydrothermalVents/bin/Debug/net6.0
/HydrothermalVentsTests/bin/Debug/net6.0
/HydrothermalVents/.vs
/HydrothermalVents/bin/Release/net6.0
/HydrothermalVentsTests/bin/Release/net6.0
